* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 26px;
}

body {
    font-family: 'San Francisco Pro Text', arial, sans-serif;
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

section:not(:nth-child(1), :nth-child(2)) {
    padding: 100px 0 100px;
}

h1 {
    color: #fff;
    background-image: url("../img/backgroung.png");
    font-size: 1.92rem;
    line-height: 180px;
    letter-spacing: 2px;
    position: relative;
    bottom: 20px;
}

h2 {
    color: #fff;
    font-size: 1.54rem;
    position: relative;
    top: 15px;
}

h3 {
    font-size: 1.54rem;
    margin-bottom: 48px;
}

.cards,
.what-inside,
.weight {
    background-color: #F2F4F8;
}


/*Навигационное меню*/

header {
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 112px;
    height: 112px;
    margin-top: 21.65px;
}

header nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.77rem;
    color: #000;
}

header nav a:nth-child(2) {
    margin-right: 135px;
    margin-left: 78px;
}

.button-advert {
    display: inline-block;
    font-size: 0.77rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #0297D4;
    padding: 16px 36px;
    border-radius: 50px;
}

header nav .button-advert {
    margin: 56px 0 44px;
}


/*Телефоны вызова эвакуатора*/

.cards {
    text-align: center;
    position: relative;
}

.title {
    height: 142px;
    margin-bottom: 120px;
}

.city {
    color: #6AD3FF;
    text-decoration: underline;
    text-transform: capitalize;
}

.posts {
    background-color: #fff;
    text-align: left;
    padding: 40px 48px;
    border-radius: 20px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.posts h4 {
    font-size: 1.23rem;
}

.posts p {
    font-size: 0.77rem;
}

.posts:not(:last-child) {
    margin-bottom: 44px;
}

.post {
    display: flex;
    justify-content: space-between;
    margin: 28px 0;
}

table {
    width: 498px;
    color: #777777;
    font-size: 0.77rem;
    border-collapse: collapse;
    border-spacing: 0 12px;
}

.tr-margin {
    height: 12px;
    background-color: #fff;
}

tr {
    background-color: #F2F4F8;
}

td:first-child {
    padding-left: 20px;
    border-radius: 10px 0 0 10px;
}

td:last-child {
    padding-right: 20px;
    text-align: right;
    border-radius: 0 10px 10px 0;
    font-weight: bold;
}

.phone {
    display: block;
    background-color: #0297D4;
    color: #fff;
    font-size: 0.8rem;
    text-decoration: none;
    text-align: center;
    width: 335px;
    height: 59px;
    line-height: 59px;
    border-radius: 50px;
}

.phone:last-of-type {
    margin: 12px 0 21.5px;
}

.phone:first-of-type::before {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../img/phone.svg");
    vertical-align: middle;
    margin-right: 8px;
}

.phone:last-of-type::before {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../img/phone-rotary.svg");
    vertical-align: middle;
    margin-right: 8px;
}

.location {
    background-color: #FFF5CC;
    padding: 16px 20px;
    border-radius: 10px;
    font-size: 0.77rem;
    margin-bottom: 21.5px;
}

.location p:first-child {
    color: #777777;
    margin-bottom: 12px;
}

.location p i {
    color: #777777;
    margin-right: 4px;
}

.advertising {
    font-size: 0.62rem;
    color: #0297D4;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #0297D4;
    border-radius: 50px;
    padding: 16px 0;
}

.advertising p {
    font-size: 12px;
}

.advertising a {
    color: #0297D4;
}


/*Номера страниц*/

.pages {
    display: inline-block;
    margin: 52px auto 80px;
}

.pages a {
    display: inline-block;
    text-decoration: none;
    color: #0297D4;
    font-weight: bold;
    width: 52px;
    height: 52px;
    line-height: 52px;
    border: 1px solid #0297D4;
    border-radius: 6px;
}

.pages a:first-child {
    color: #fff;
    background-color: #0297D4;
}

.pages a:not(:last-child) {
    margin-right: 18px;
}


/*добавить объявление*/

.advert {
    position: relative;
}

.advert-background {
    background-image: url("../img/backgroung.png");
    position: relative;
    bottom: 25px;
}

.advert .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.illustration {
    width: 210px;
    height: 121px;
    margin: 40px 0 10px;
}

.advert a {
    text-decoration: none;
    position: relative;
    top: 15px;
}


/*Как вызвать эвакуатор*/

section.how-to-call {
    padding: 80px 0 70px;
}

.how-to-call .wrapper {
    display: flex;
    gap: 39px;
}

.how-to-call-informaton {
    text-align: left;
}

.how-to-call-informaton p:first-of-type {
    margin: 48px 18px 48px 0;
}

.how-to-call-informaton p {
    margin-right: 18px;
}


/*Что нужно для заказа эвакуатора*/

.what-to-know {
    background-color: #FFF5CC;
}

.what-to-know-info {
    display: flex;
    gap: 20px;
}

.what-to-know-info img {
    display: block;
    margin: 0 auto;
    margin-bottom: 32px;
}


/*Что входит в стоимость*/

.what-inside p:nth-of-type(2) {
    font-weight: bold;
    margin: 32px 0 105px;
}

.aspects {
    display: flex;
    gap: 24px;
    color: #fff;
    text-align: center;
}

.aspects article {
    background-color: #0297D4;
    border: 1px solid #0297D4;
    max-width: 332px;
    width: 100%;
    border-radius: 20px;
    padding: 31px 20px 28px;
    position: relative;
}

.aspects article h4 {
    font-size: 0.77rem;
    margin-bottom: 17px;
}

.aspects article p {
    font-size: 0.7rem;
}

.aspect::before {
    content: "";
    width: 150px;
    height: 80px;
    display: block;
    padding-top: 12px;
    border-radius: 150px 150px 0 0;
    background-color: #0297D4;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -80px;
    left: 91.5px;
}

.load-capacity::before {
    background-image: url(../img/cargo.svg);
}

.mileage::before {
    background-image: url(../img/mileage.svg);
}

.equipment::before {
    background-image: url(../img/settings.svg);
}

.difficulty-level::before {
    background-image: url(../img/difficulty.svg);
}


/*Преимущества онлайн сервиса*/

.content {
    position: relative;
    margin-bottom: 430px;
}

.content-info {
    display: flex;
    align-items: center;
}

.content-text {
    max-width: 804px;
}

.content-text p:last-child {
    font-weight: bold;
    margin: 32px 0;
}

.bonuses {
    max-width: 733px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-content: center;
    position: relative;
}

.bonuses p {
    margin-left: 48px;
}

.bonuses p::before {
    content: "";
    background-image: url("..//img/done.svg");
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 16px;
    position: absolute;
    left: 0;
}

.photo-man {
    max-width: 630px;
    width: 100%;
}

.additional-information {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    position: absolute;
    top: 1140px;
}

.additional-information article {
    background-color: #FFF5CC;
    border-radius: 20px;
    padding: 48px;
    max-width: 684px;
}

.additional-information h4 {
    margin-bottom: 32px;
}

.payment p:last-child {
    margin-top: 32px;
}


/*Какой вес может взять на борт эвакуатор*/

.weight h3 {
    margin-top: 150px;
}